
.#{$pre}blockquote {
    padding: 0 layout(spacing--md);

    &__quote {
        font-family: font-family(text);
        color: color(black);
        margin-bottom: layout(spacing--lg);
        line-height: lh(display);
        font-size: rem(font-size(fs--10));

        @include respond-to(mobile) {
            font-size: rem(font-size(fs--8));
        }

        @include respond-to(tablet) {
            font-size: rem(font-size(fs--7));
        }

        @include respond-to(desktop) {
            font-size: rem(font-size(fs--5));
        }

    }

    &__byline {
        @include responsive-type(fs--12, display);
        font-family: font-family(display);
        font-weight: bold;
        text-align: right;
        color: color(seafoam--light);
    }

    &--reverse,
    &--Dark {

        .#{$pre}blockquote__quote {
            color: color(white);
        }

    }

    .#{$pre}rule {
        display: inline-block;
        float: right;
        position: relative;
        top: layout(spacing--sm);
        border-color: color(seafoam--light);
    }
}
