fieldset {
	margin: margin(base);
	padding: 0;
	border: none;
}

.#{$pre}input-group {
	&__label {
		font-family: font-family(display);
		@include responsive-type(fs--13, text);
	}
}



.#{$pre}input {
	@extend %input;

	&--warn {
		@extend %input--warn;
	}
}
