.#{$pre}text {
	@extend %text;

	&--fs--15 {
		font-size: rem(font-size(fs--15));
	}

	&--fs--14 {
		font-size: rem(font-size(fs--14));
	}

	&--fs--13 {
		font-size: rem(font-size(fs--13));
	}

	&--fs--12 {
		font-size: rem(font-size(fs--12));
	}

	&--fs--11 {
		font-size: rem(font-size(fs--11));
	}

	&--fs--10 {
		font-size: rem(font-size(fs--10));
	}

	&--fs--9 {
		font-size: rem(font-size(fs--9));
	}

	&--fs--8 {
		font-size: rem(font-size(fs--8));
	}

	&--fs--7 {
		font-size: rem(font-size(fs--7));
	}

	&--fs--6 {
		font-size: rem(font-size(fs--6));
	}

	&--fs--5 {
		font-size: rem(font-size(fs--5));
	}

	&--fs--4 {
		font-size: rem(font-size(fs--4));
	}

	&--fs--3 {
		font-size: rem(font-size(fs--3));
	}

	&--fs--2 {
		font-size: rem(font-size(fs--2));
	}

	&--fs--1 {
		font-size: rem(font-size(fs--1));
	}

	&--fs--0 {
		font-size: rem(font-size(fs--0));
	}
}

p {
	@extend %text;
}

pre {
	//@extend %text--code;
}
