/*
@font-face {
    font-family: 'apercu';
    src: url('../fonts/apercu-light.eot');
    src: url('../fonts/apercu-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-light.woff') format('woff'),
         url('../fonts/apercu-light.woff2') format('woff2'),
         url('../fonts/apercu-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

// @import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,700|Zilla+Slab:300,700');
