// BUTTON PATTERNS

// @extend %button
$button-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'button',
		type-style: text,
	),
	display: inline-block,
	white-space: normal,
	margin: 0,
	padding: layout(spacing--2xs) layout(spacing--md),
	text-align: center,
	font-family: font-family(display),
	font-weight: 500,
	color: color(seafoam--black),
	vertical-align: inherit,
	touch-action: auto,
	cursor: pointer,
	background-image: none,
	background-color: color(seafoam--light),
	border: border(thin, transparent),
	transition: transition(base),
	position: relative,
	text-decoration: none,
	outline: none,
	top: 0,
	"::before": (),
	"::after": (),
	modifiers: (
		"--default": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			box-shadow: shadow(inactive, color(drop--inactive)),
			":hover": (
				background-color: color(seafoam--bright) !important,
				text-decoration: none !important,
				box-shadow: shadow(active, color(drop--active)) !important,
				border: border(thin, transparent),
				color: color(seafoam--black),
			),
			":active": (
				color: color(seafoam--black),
				outline: none,
				border: border(thin, transparent),
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
				transform: rotate(-2deg),
			),
		),
		"--round": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(seafoam--light),
			padding: layout(spacing--2xs) layout(spacing--2xs) layout(spacing--2xs) layout(spacing--xs),
			background-color: color(seafoam--black),
			border: border(hairline, transparent),
			border-radius: 50%,
			width: 2.2222rem,
			height: 2.2222rem,
			lineheight: 1rem,
			font-size: 1rem,
			":hover": (
				background-color: color(seafoam--black),
				text-decoration: none,
				color: color(seafoam--light),
				border: border(hairline, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(seafoam--black),
				text-decoration: none,
				color: color(seafoam--light),
				border: border(hairline, transparent),
				position: relative,
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
			),
		),
		"--ghost": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(black),
			padding: layout(spacing--2xs) layout(spacing--md),
			background-color: color(clear),
			border: border(thin, black),
			":hover": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(thin, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(thin, transparent),
				position: relative,
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
			),
		),
		"--ghost-reverse": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(gray--extra-light),
			padding: layout(spacing--2xs) layout(spacing--md),
			background-color: color(clear),
			border: border(thin, gray--extra-light),
			":hover": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(thin, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(thin, transparent),
				position: relative,
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
			),
		),
		"--ghost-round": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(black),
			padding: layout(spacing--2xs) layout(spacing--2xs) layout(spacing--2xs) layout(spacing--xs),
			background-color: color(clear),
			border: border(hairline, black),
			border-radius: 50%,
			width: 2.2222rem,
			height: 2.2222rem,
			lineheight: 1rem,
			font-size: 1rem,
			":hover": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(hairline, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(hairline, transparent),
				position: relative,
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
			),
		),
		"--ghost-round-reverse": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(gray--extra-light),
			padding: layout(spacing--2xs) layout(spacing--2xs) layout(spacing--2xs) layout(spacing--xs),
			background-color: color(clear),
			border: border(hairline, gray--extra-light),
			border-radius: 50%,
			width: 2.2222rem,
			height: 2.2222rem,
			lineheight: 1rem,
			font-size: 1rem,
			":hover": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(hairline, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(white),
				text-decoration: none,
				color: color(black),
				border: border(hairline, transparent),
				position: relative,
				box-shadow: shadow(depressed, color(drop--active)) !important,
				top: layout(spacing--3xs),
				transition: transition(fast),
			),
		),
		"--link": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(seafoam),
			padding: layout(spacing--2xs) layout(spacing--md),
			background-color: color(clear),
			border: border(thin, clear),
			":hover": (
				background-color: color(white),
				text-decoration: none,
				color: color(seafoam),
				border: border(thin, transparent),
				box-shadow: shadow(active, color(drop--active)) !important,
			),
			":active": (
				background-color: color(white),
				text-decoration: none,
				color: color(seafoam),
				border: border(thin, transparent),
				box-shadow: shadow(depressed, color(drop--active)) !important,
				margin-top: layout(spacing--3xs),
				margin-bottom: layout(spacing--3xs)*-1,
				transition: transition(fast),
			),
		),
	),
);

// Initialize the %constructor placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($button-patterns);
