// HEADINGS PATTERNS

// @extend %heading
$heading-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'heading',
		type-style: text,
	),
	display: block,
	white-space: normal,
	margin: 0 0 margin(base) 0,
	padding: 0,
	text-align: left,
	font-family: font-family(display),
	font-weight: 700,
	color: color(seafoam--black),
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: none,
	":hover": (),
	":active": (),
	"::before": (),
	"::after": (),
	modifiers: (
		"--monolithic": (
			pattern-config: (
				responsive-type: true,
				size: fs--0 ,
				type-style: display,
			),
		),
		"--massive": (
			pattern-config: (
				responsive-type: true,
				size: fs--2,
				type-style: display,
			),
		),
		"--extra-large": (
			pattern-config: (
				responsive-type: true,
				size: fs--3,
				type-style: display,
			),
		),
		"--large": (
			pattern-config: (
				responsive-type: true,
				size: fs--5,
				type-style: display,
			),
		),
		"--base": (
			pattern-config: (
				responsive-type: true,
				size: fs--9,
				type-style: display,
			),
		),
		"--small": (
			pattern-config: (
				responsive-type: true,
				size: fs--10,
				type-style: display,
			),
		),
		"--extra-small": (
			pattern-config: (
				responsive-type: true,
				size: fs--14,
				type-style: display,
			),
		),
		"--reverse": (
			color: color(white),
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($heading-patterns);
