// INPUT PATTERNS

// @extend %input
$input-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'input',
		type-style: text,
	),
	display: block,
	white-space: normal,
	margin: 0 0 margin(base) 0,
	padding: layout(spacing--xs),
	width: 100%,
	text-align: left,
	font-family: font-family(display),
	font-weight: 100,
	color: color(seafoam--black),
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(white),
	border: border(hairline, transparent),
	border-radius: radius(none),
	outline: none,
	"::placeholder": (
		color: transparentize(color(seafoam--black), .5),
		font-style: italic,
	),
	":hover": (),
	":active": (),
	"::before": (),
	"::after": (),
	modifiers: (
		"--warn": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(red),
			background-color: transparentize(color(red), .8),
			"::placeholder": (
				color: transparentize(color(red), .2),
			),
		),
	),
);

// Initialize the %input placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($input-patterns);
