// LABEL PATTERNS

// @extend %label
$label-patterns: (
	pattern-config: (
		responsive-type: true,
		size: base,
		name: 'label',
		type-style: text,
	),
	display: block,
	white-space: normal,
	margin: 0,
	padding: 0,
	text-align: center,
	font-family: font-family(text),
	color: color(white),
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: none,
	":hover": (),
	":active": (),
	"::before": (),
	"::after": (),
	modifiers: (
		"--test": (
			pattern-config: (
				responsive-type: true,
				size: large,
				type-style: text,
			),
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($label-patterns);
