// LINK PATTERNS

// @extend %link
$link-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'link',
		type-style: text,
	),
	display: inline,
	white-space: normal,
	margin: 0,
	padding: 0,
	text-align: inherit,
	font-family: font-family(text),
	color: color(seafoam),
	text-decoration: none,
	vertical-align: inherit,
	touch-action: auto,
	cursor: pointer,
	background-image: none,
	background-color: color(clear),
	border: none,
	transition: transition(base),
	":hover": (
		background-color: color(clear),
		text-decoration: none,
		color: color(seafoam--light),
		border: none,
	),
	":active": (
		background-color: color(clear),
		color: color(seafoam--bright),
		outline: none
	),
	"::before": (),
	"::after": (),
	modifiers: (
		"--inline": (
			pattern-config: (
				responsive-type: true,
				size: fs--base,
				type-style: text,
			),
			color: color(brand-primary),
			text-decoration: underline,
			":hover": (
				color: color(brand-primary, extra-dark),
				text-decoration: underline,
			),
		),
		"--nav": (
			pattern-config: (
				responsive-type: true,
				size: fs--14,
				type-style: display,
			),
			color: color(seafoam--black),
			font-family: font-family(display),
			font-weight: 700,
			letter-spacing: .04rem,
			text-transform: uppercase,
			text-decoration: none,
			display: inline-block !important,
			padding: 0 layout(spacing--sm) layout(spacing--2xs) 0,
			border-bottom: border(thick, transparent),
			":hover": (
				color: color(seafoam--black),
				text-decoration: none,
				border-bottom: border(thick, seafoam--black),
			),
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($link-patterns);
