// TEXT PATTERNS

// @extend %text
$text-patterns: (
	pattern-config: (
		responsive-type: true,
		size: fs--base,
		name: 'text',
		type-style: text,
	),
	display: block,
	margin: 0 0 margin(base) 0,
	padding: 0,
	white-space: normal,
	font-family: font-family(text),
	color: color(text),
	text-align: left,
	vertical-align: inherit,
	touch-action: auto,
	cursor: inherit,
	background-image: none,
	background-color: color(clear),
	border: border(none),
	modifiers: (
		"--large": (
			pattern-config: (
				responsive-type: true,
				size: fs--12,
				type-style: text,
			),
		),
		"--base": (
			pattern-config: (
				responsive-type: true,
				size: fs--13,
				type-style: text,
			),
		),
		"--small": (
			pattern-config: (
				responsive-type: true,
				size: fs--14,
				type-style: text,
			),
		),
		"--extra-small": (
			pattern-config: (
				responsive-type: true,
				size: fs--15,
				type-style: text,
			),
		),
	),
);

// Initialize the %link placeholder class - http://thesassway.com/intermediate/understanding-placeholder-selectors
@include construct($text-patterns);
