<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/light.css" integrity="sha384-EGKQAl6ZrGi/zGxZ4ykVhc/A3tFVeBiLnneETILtcxQnZpo7ejmb4BkNa3zSgo4K" crossorigin="anonymous">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/brands.css" integrity="sha384-E5dVkWQIVhVPtBz/KK2TS7EM9l1+5XiWFPX7l3+5ayHPwDguGsHqof3GQbk55AS3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-bHoj6f1b1CQ6zapOREeYBO/JnDjeV1fLuKn3KHnbqAAnkLva11KY3m8YyKPVXYLF" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="../../themes/tahoe/styles/app.css">
		<link href="../assets/vendor/prism/prism.css" rel="stylesheet" />
	</head>
	<body>

		<div class="cd_stage"> <!-- container-fluid -->
			<a class="cd_menu-button">Menu <span class="fal fa-caret-right"></span></a>
			<div class="cd_template--component-library">  <!-- row -->
				<div class="cd_template__main-content">  <!-- conlumn 9 -->
					<div class="cd_section--header">
						<h1 class="cd_page-title">Tahoe Partners Components</h1>
					</div>
					<div class="cd_section--abstract">  <!-- row -->
						<p class="cd_summary">  <!-- column 12 -->

						</p>
					</div>

					<!-- STRUCTURE -->
					<i id="structure"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Structure</h3>
						<!-- SCALE -->
						<div class="cd_component">
							<h3 class="cd_component__title">Scale</h3>
							<div class="cd_scale">
								<p>All size measurements are executed using 'rem'.</p>
								<p>Base rem size is 18px.</p>
							</div>
						</div>
						<!-- EO SCALE -->
						<!-- GRID -->
						<div class="cd_component">
							<h3 class="cd_component__title">Grid</h3>
							<div class="cd_grid">
								Grid Image
							</div>
						</div>
						<!-- EO GRID -->
						<!-- BREAKPOINTS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Breakpoints</h3>
							<div class="cd_breakpoints">
								<p>Base | 0px | 'base'</p>
								<p>Mobile | 576px | 'mobile'</p>
								<p>Tablet | 768px | 'tablet'</p>
								<p>Desktop | 992px | 'desktop'</p>
								<p>Large Desktop | 1200px | 'desktop-large'</p>
								<p>Extra Large Desktop | 1350px | 'desktop-extra-large'</p>
							</div>
						</div>
						<!-- EO BREAKPOINTS -->
					</div>
					<!-- EO STRUCTURE -->

					<!-- COLORS -->
					<i id="colors"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Colors</h3>
						<div class="cd_component">
							<h3 class="cd_component__title">Brand Colors</h3>
							<ul class="cd_color-list">

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--seafoam--bright"></div>
										<h4 class="cd_color__title">
											Seafoam Bright
										</h4>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(2,241,201,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--seafoam--light"></div>
										<h4 class="cd_color__title">
											Seafoam Light
										</h4>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(0,219,182,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--seafoam"></div>
										<h4 class="cd_color__title">
											Seafoam
										</h4>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(0,187,165,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--seafoam--dark"></div>
										<h4 class="cd_color__title">
											Seafoam Dark
										</h4>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(13,81,74,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--seafoam--black"></div>
										<h4 class="cd_color__title">
											Seafoam Black
										</h4>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(1,44,36,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--mauve"></div>
										<h3 class="cd_color__title">
											Mike's Mauve
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(183,83,128,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--red"></div>
										<h3 class="cd_color__title">
											Red
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(216,85,64,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--blue--dark"></div>
										<h3 class="cd_color__title">
											Blue Dark
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(39,64,82,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--blue"></div>
										<h3 class="cd_color__title">
											Blue
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(46,155,232,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--blue--light"></div>
										<h3 class="cd_color__title">
											Blue Light
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(110,195,254,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--gray"></div>
										<h3 class="cd_color__title">
											Gray
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(76,81,85,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--gray--light"></div>
										<h3 class="cd_color__title">
											Gray Light
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(211,213,216,1)
										</p>
									</div>
								</li>

								<li class="cd_color-list__item">
									<div class="cd_color">
										<div class="cd_color__block cd_color__block--gray--extra-light"></div>
										<h3 class="cd_color__title">
											Gray Extra Light
										</h3>
										<p class="cd_color__hex-value">
											#TBD
										</p>
										<p class="cd_color__rgba-value">
											rgba(242,243,243,1)
										</p>
									</div>
								</li>



							</ul>
						</div>
					</div>
					<!-- EO COLORS -->

					<!-- TYPEFACES -->
					<i id="type"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Typefaces & Fonts</h3>
						<div class="cd_component">
							<h3 class="cd_component__title">Typefaces</h3>
							<ul class="cd_font-list">
								<li class="cd_font-list__item">
									<div class="cd_font cd_font--barlow">
										<h4 class="cd_font__title">
											Barlow Condensed
										</h4>
										<h1 class="cd_font__big-a">
											Aa
										</h1>
										<p class="cd_font__alphabet-lower">
											a b c d e f g h i j k l m n o p q r s t u v w x y z
										</p>
										<p class="cd_font__alphabet-upper">
											a b c d e f g h i j k l m n o p q r s t u v w x y z
										</p>
									</div>
								</li>
								<li class="cd_font-list__item">
									<div class="cd_font cd_font--zilla">
										<h4 class="cd_font__title">
											Zilla Slab
										</h4>
										<h1 class="cd_font__big-a">
											Aa
										</h1>
										<p class="cd_font__alphabet-lower">
											a b c d e f g h i j k l m n o p q r s t u v w x y z
										</p>
										<p class="cd_font__alphabet-upper">
											a b c d e f g h i j k l m n o p q r s t u v w x y z
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- EO TYPEFACES -->

					<!-- TYPOGRAPHY -->
					<i id="typography"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Typography</h3>
						<div class="cd_component__column">
							<!-- TYPE SCALE -->
							<div class="cd_component">
								<h3 class="cd_component__title">Responsive Type Scale</h3>
								<div class="cd_type-scale">
									<p class="cd_type-scale__text tp_text--fs--15">FS 15 | .75rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--14">FS 14 | .875rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--13">FS 13 | 1rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--12">FS 12 | 1.125rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--11">FS 11 | 1.25rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--10">FS 10 | 1.5rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--9">FS 9 | 2rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--8">FS 8 | 2.25rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--7">FS 7 | 2.625rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--6">FS 6 | 3rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--5">FS 5 | 3.375rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--4">FS 4 | 3.75rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--3">FS 3 | 4.25rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--2">FS 2 | 5.25rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--1">FS 1 | 5.75rem | The quick brown fox jumps over the lazy dog.</p>
									<p class="cd_type-scale__text tp_text--fs--0">FS 0 | 8rem | The quick brown fox jumps over the lazy dog.</p>

								</div>
								<div class="cd_component__markup-display">
									<pre><code class="language-markup"><script> --- </script></code></pre>
								</div>
								<div class="cd_component__style-display">
									<pre><code class="language-css">[Sass]</code></pre>
								</div>
							</div>
							<!-- EO TYPE SCALE -->
							<!-- TYPE TREATMENTS -->
							<div class="cd_component">
								<h3 class="cd_component__title">Typographic Treatments</h3>
								<div class="cd_type-treatment">
									<p class="cd_type-treatment__item tp_text--bold">Bold 700</p>
									<p class="cd_type-treatment__item tp_text--regular">Regular 300</p>
									<p class="cd_type-treatment__item tp_text--extra-light">Extra Light 100</p>
								</div>
							</div>
							<!-- EO TYPE TREATMENTS -->
							<!-- HEADINGS -->
							<div class="cd_component">
								<h3 class="cd_component__title">Headings</h3>
								<div class="cd_headings">
									<h1 class="cd_heading tp_heading--1">Heading 1</h1>
									<h2 class="cd_heading tp_heading--2">Heading 2</h2>
									<h3 class="cd_heading tp_heading--3">Heading 3</h3>
									<h4 class="cd_heading tp_heading--4">Heading 4</h4>
									<h5 class="cd_heading tp_heading--5">Heading 5</h5>
									<h6 class="cd_heading tp_heading--6">Heading 6</h6>
								</div>
								<div class="cd_component__markup-display">
									<pre><code class="language-markup"><script> --- </script></code></pre>
								</div>
								<div class="cd_component__style-display">
									<pre><code class="language-css">[Sass]</code></pre>
								</div>
							</div>
							<!-- EO HEADINGS -->
							<!-- HEADING GROUPS -->
							<div class="cd_component">
								<h3 class="cd_component__title">Heading Groups</h3>
								<div class="cd_headings cd_heading-groups">
									<div class="tp_heading-group tp_heading-group--default">
										<h6 class="tp_heading-group__subheading">Subheading text.</h6>
										<h3 class="tp_heading-group__heading">Standard heading group.</h3>
										<hr class="tp_heading-group__rule" />
									</div>
									<div class="tp_heading-group tp_heading-group--copy">
										<h3 class="tp_heading-group__heading">Copy Heading</h3>
										<hr class="tp_heading-group__rule" />
									</div>
									<div class="tp_heading-group tp_heading-group--giant">
										<h3 class="tp_heading-group__heading">Giant Heading</h3>
										<h4 class="tp_heading-group__subheading">Subheading Text</h4>
										<hr class="tp_heading-group__rule" />
									</div>
									<div class="tp_heading-group tp_heading-group--logo">
										<img class="tp_heading-group__logo" src="../assets/images/logo.png"/>
										<h4 class="tp_heading-group__heading">Heading Text</h4>
									</div>
									<div class="tp_heading-group tp_heading-group--feature">
										<h3 class="tp_heading-group__heading">Giant Heading</h3>
										<h4 class="tp_heading-group__subheading">Heading Text</h4>
									</div>
								</div>
								<div class="cd_component__markup-display">
									<pre><code class="language-markup"><script> --- </script></code></pre>
								</div>
								<div class="cd_component__style-display">
									<pre><code class="language-css">[Sass]</code></pre>
								</div>
							</div>
							<!-- EO HEADING GROUPS -->
							<!-- TEXT -->
							<div class="cd_component">
								<h3 class="cd_component__title">Text</h3>
								<div class="cd_headings">
									<h5>Copy</h5>
									<p class="tp_text">Paragraph Tag Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed eiusmod tempor incid dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru ullamco laboris nisi ut aliquip.</p>
								</div>
								<div class="cd_component__markup-display">
									<pre><code class="language-markup"><script> --- </script></code></pre>
								</div>
								<div class="cd_component__style-display">
									<pre><code class="language-css">[Sass]</code></pre>
								</div>
							</div>
							<!-- EO TEXT -->
						</div>
					</div>
					<!-- EO TYPOGRAPHY -->

					<!-- ICONOGRAPHY -->
					<i id="icons"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Iconography</h3>
						<!-- ICONFONT / ICONS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Iconfont</h3>
							<div class="cd_icon">
								<p>FontAwesome 5 Pro <a href="https://fontawesome.com/icons?d=gallery&s=light">Light</a> and <a href="https://fontawesome.com/icons?d=gallery&s=brands" target="_blank">Brands</a> icons will be utilized for all site iconography.</p>
							</div>
						</div>
						<!-- EO ICONFONT / ICONS -->
					</div>
					<!-- EO ICONOGRAPHY -->

					<!-- LINKS & BUTTONS -->
					<i id="links"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Links &amp; Buttons</h3>

						<!-- LINKS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Links</h3>
							<div class="cd_component__column cd_column--links">
								<a class="cd_link tp_link" >
									Basic text link.
								</a>
								<a class="cd_link tp_link--inline" >
									Inline Link
								</a>
								<a class="cd_link tp_link--nav" >
									Nav Link
								</a>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO LINKS -->

						<!-- STANDARD BUTTONS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Standard Buttons</h3>
							<div class="cd_component__column cd_column--links">
								<a class="tp_button" >
									Default Button
								</a>
							</div>
							<div class="cd_component__column cd_column--links">
								<a class="tp_button--ghost" >
									Ghost Button
								</a>
							</div>
							<div class="cd_component__column cd_column--links">
								<a class="tp_button--ghost-reverse" >
									Reverse Ghost Button
								</a>
							</div>
							<div class="cd_component__column cd_column--links">
								<a class="tp_button--ghost-round">
									<span class="fal fa-chevron-right"></span>
								</a>
							</div>
							<div class="cd_component__column cd_column--links">
								<a class="tp_button--link">
									Link Button
								</a>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO STANDARD BUTTONS -->
					</div>
					<!-- EO LINKS & BUTTONS -->

					<!-- LISTS -->
					<i id="list"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Lists</h3>
						<!-- DEFAULT LIST -->
						<div class="cd_component">
							<h3 class="cd_component__title">Default List</h3>
							<div class="cd_component__column cd_column--links">
								<ul class="tp_list">
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link One
										</a>
									</li>
									<li class="wm_list__item">
										<a class="tp_link" href="#">
											Link Two
										</a>
									</li>
									<li class="wm_list__item">
										<a class="tp_link" href="#">
											Link Three
										</a>
									</li>
								</ul>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO DEFAULT LIST -->

						<!-- INLINE LIST-->
						<div class="cd_component">
							<h3 class="cd_component__title">Inline List</h3>
							<div class="cd_component__column cd_column--links">
								<ul class="tp_list tp_list--inline">
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link One
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Two
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Three
										</a>
									</li>
								</ul>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO INLINE LIST -->

						<!-- BULLETED LIST -->
						<div class="cd_component">
							<h3 class="cd_component__title">Bulleted List</h3>
							<div class="cd_component__column cd_column--links">
								<ul class="tp_list tp_list--bulleted">
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link One
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Two
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Three
										</a>
									</li>
								</ul>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO BULLETED LIST -->

						<!-- ORDERED LIST - NUMBERED -->
						<div class="cd_component">
							<h3 class="cd_component__title">Numbered List</h3>
							<div class="cd_component__column cd_column--links">
								<ol class="tp_list tp_list--numbered">
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link One
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Two
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Three
										</a>
									</li>
								</ol>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO ORDERED LIST - NUMBERED -->

						<!-- ORDERED LIST - ALPHA -->
						<div class="cd_component">
							<h3 class="cd_component__title">Alpha List</h3>
							<div class="cd_component__column cd_column--links">
								<ol class="tp_list tp_list--alpha">
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link One
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Two
										</a>
									</li>
									<li class="tp_list__item">
										<a class="tp_link" href="#">
											Link Three
										</a>
									</li>
								</ol>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO ORDERED LIST - ALPHA -->

						<!-- BLOCKQUOTE LIST -->
						<div class="cd_component">
							<h3 class="cd_component__title">Blockquote List</h3>
							<div class="cd_component__column cd_column--links">
								<ul class="tp_list tp_list--blockquote">
									<li class="tp_list__item">
										<h4 class="tp_list__big-bullet">1.</h4>
										<p class="tp_list__copy">This is the copy that goes here.</p>
									</li>
									<li class="wm_list__item">
										<h4 class="tp_list__big-bullet">2.</h4>
										<p class="tp_list__copy">This is the copy that goes here.</p>
									</li>
									<li class="wm_list__item">
										<h4 class="tp_list__big-bullet">3.</h4>
										<p class="tp_list__copy">This is the copy that goes here.</p>
									</li>
								</ul>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO BLOCKQUOTE LIST -->

					</div>
					<!-- EO LISTS -->

					<!-- FORMS -->
					<i id="inputs"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Forms</h3>

						<!-- STANDARD INPUTS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Standard Inputs</h3>
							<div class="cd_component__column cd_column--forms">

								<div class="tp_input-group">
									<label class="tp_input-group__label">Text Input</label>
									<input class="tp_input" type="text" name="" value="" placeholder="This is a standard text field.">
								</div>

								<div class="tp_input-group">
									<label class="tp_input-group__label">Textarea</label>
									<textarea class="tp_input" name="name" placeholder="This is a textarea."></textarea>
								</div>


							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO STANDARD INPUTS -->

						<!-- INPUT GROUPS -->
						<div class="cd_component">
							<h3 class="cd_component__title">Invalid Groups</h3>
							<div class="cd_component__column cd_column--forms">

								<div class="tp_input-group">
									<label class="tp_input-group__label">Text Input</label>
									<input class="tp_input tp_input--warn" type="text" name="" value="" placeholder="This is a standard text field.">
								</div>

								<div class="tp_input-group">
									<label class="tp_input-group__label">Textarea</label>
									<textarea class="tp_input tp_input--warn" name="name" placeholder="This is a textarea."></textarea>
								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO INPUT GROUPS -->

						<!-- FORM LAYOUT -->
						<div class="cd_component">
							<h3 class="cd_component__title">Form Layout</h3>
							<div class="cd_component__column cd_column--forms">

								<div class="tp_form"> <!-- THIS IS A COMPONENT -->
									<h4 class="tp_form__title">Form Title</h4>
									<form class="tp_form__form" action="index.html" method="post">
										<div class="tp_form__row">
											<div class="tp_form__column">
												<div class="tp_input-group">
													<label class="tp_input-group__label">Text Input</label>
													<input class="tp_input tp_input" type="text" name="" value="" placeholder="This is a standard text field.">
												</div>
												<div class="tp_input-group">
													<label class="tp_input-group__label">Text Input</label>
													<input class="tp_input tp_input" type="text" name="" value="" placeholder="This is a standard text field.">
												</div>
											</div>
											<div class="tp_form__column">
												<div class="tp_input-group">
													<label class="tp_input-group__label">Text Input</label>
													<input class="tp_input tp_input" type="text" name="" value="" placeholder="This is a standard text field.">
												</div>
												<div class="tp_input-group">
													<label class="tp_input-group__label">Textarea</label>
													<textarea class="tp_input tp_input" name="name" placeholder="This is a textarea."></textarea>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO INPUT GROUPS -->

					</div>
					<!-- EO FORMS -->

					<!-- CARDS -->
					<i id="cards"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Cards</h3>

						<!-- Standard Text Card -->
						<div class="cd_component">
							<h3 class="cd_component__title">Standard Text Card</h3>

							<div class="cd_component__column">
								<div class="row">

									<div class="col-sm-6">
										<div class="tp_card">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="tp_card tp_card--reverse">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="tp_card tp_card--rule tp_card--button">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="tp_card tp_card--reverse tp_card--rule tp_card--button">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="tp_card tp_card--small">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="tp_card tp_card--reverse tp_card--rule tp_card--small">
											<h3 class="tp_card__heading">Card Title</h3>
											<hr class="tp_card__rule" />
											<p class="tp_card__copy">The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</p>
											<a class="tp_card__button" href="#">
												<span class="fal fa-chevron-right"></span>
											</a>
										</div>
									</div>

								</div>
							</div>

							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script>
								</script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]
								</code></pre>
							</div>
						</div>
						<!-- EO Standard Text Card -->

						<!-- Standard Text Card -->
						<div class="cd_component">
							<h3 class="cd_component__title">Standard Text Card</h3>

							<div class="cd_component__column">
								<div class="row">

									<div class="col-sm-6">
										<div class="tp_card tp_card--transparent">
											<h3 class="tp_heading--extra-small">Surface Content</h3>
										</div>
									</div>

								</div>
							</div>

							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script>
								</script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]
								</code></pre>
							</div>
						</div>
						<!-- EO Standard Text Card -->

						<!-- BLOCKQUOTE -->
						<div class="cd_component">
							<h3 class="cd_component__title">Blockquote</h3>

							<div class="cd_component__column">
								<div class="row">

									<div class="col-sm-12">
										<div class="tp_blockquote">
											<p class="tp_blockquote__quote">The all-encompassing strategy that Transformers pursue is like a racecar, while the strategy that Bolt-Ons pursue — tacking on digital elements to existing strategies — is like tacking on a spoiler to a minivan.</p>
											<p class="tp_blockquote__byline">“Accelerating Digital Transformation with Technology”, Forrester, 2017</p>
										</div>
									</div>

								</div>
							</div>

							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script>
								</script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]
								</code></pre>
							</div>
						</div>
						<!-- EO BLOCKQUOTE -->

						<!-- Base Media Object -->
						<div class="cd_component">
							<h3 class="cd_component__title">Base Media Object</h3>

							<div class="cd_component__column">
								<div class="row">
									<div class="col-sm-12">

										<div class="tp_media">
											<a href="#" class="tp_media__interest">
												<img class="tp_media__interest-content" src="https://placeimg.com/640/480/arch/grayscale" alt="me" />
											</a>
											<div class="tp_media__body">
												<h4 class="tp_media__title tp_heading--3 tp_heading--blue-dark tp_heading--bold">This is the title.</h4>
												<p class="tp_media__copy tp_text">Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti.</p>
												<p class="tp_media__copy tp_text">Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti.</p>
												<a class="tp_button--ghost tp_media__cta">Action</a>
												<span class="tp_media__secondary-cta--inline">Secondary CTA <a class="tp_link--inline tp_secondary-cta-link">link</a>.</span>
											</div>
										</div>

										<div class="tp_media tp_media--work">
											<a href="#" class="tp_media__interest">
												<img class="tp_media__interest-content" src="https://placeimg.com/640/480/arch/grayscale" alt="me" />
											</a>
											<div class="tp_media__body">
												<img class="tp_media__client-logo" src="../assets/images/aar-black.png" alt="">
												<hr class="tp_media__rule"
												<p class="tp_media__copy tp_text">Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti.</p>
												<a class="tp_media__cta">Action</a>

											</div>
										</div>

										<div class="tp_media tp_media--work tp_media--rtl">
											<a href="#" class="tp_media__interest">
												<img class="tp_media__interest-content" src="https://placeimg.com/640/480/arch/grayscale" alt="me" />
											</a>
											<div class="tp_media__body">
												<img class="tp_media__client-logo" src="../assets/images/aar-black.png" alt="">
												<hr class="tp_media__rule"
												<p class="tp_media__copy tp_text">Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti.</p>
												<a class="tp_media__cta">Action</a>

											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO Base Media Object -->

					</div>
					<!-- EO CARDS -->

					<!-- MODAL -->
					<i id="modal"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Modal</h3>

						<!-- BASIC MODAL -->
						<div class="cd_component">
							<h3 class="cd_component__title">Basic Modal</h3>

							<div class="cd_component__column">

								<div class="tp_modal">
									<a class="tp_modal__close" href="#">
										<span class="fal fa-times"></span>
									</a>
									<div class="tp_modal__content">
										<h2 class="tp_heading--2 tp_modal__title">Card Title That Keeps Going On For A While</h2>
										<div class="tp_modal__body">
											<p class="tp_text">Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti. Proin dolor velit, dictum id ultrices mollis, viverra vitae dolor. Ut ac massa et dui maximus scelerisque. Nam eu sapien libero. Nullam in libero vitae erat rutrum consectetur eliti.</p>
										</div>
										<div class="tp_modal__action">
											<a class="tp_button--ghost tp_modal__button">Action</a>
											<a class="tp_button--link tp_modal__secondary-cta">Secondary CTA</a>
										</div>
									</div>
								</div>

							</div>

							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO BASIC MODAL -->

					</div>
					<!-- EO MODAL -->

					<!-- MASTHEADS -->
					<i id="mastheads"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Mastheads</h3>

						<!-- STANDARD MASTHEAD -->
						<div class="cd_component">
							<h3 class="cd_component__title">Standard Mastheads</h3>
							<div class="cd_component__column cd_column--links">

								<div class="tp_masthead tp_masthead--default">
									<img class="tp_masthead__image" src="https://via.placeholder.com/1200" alt="">
									<h1 class="tp_masthead__title">Title</h1>
								</div>

								<div class="tp_masthead tp_masthead--large">
									<img class="tp_masthead__image" src="https://via.placeholder.com/1200" alt="">
									<h1 class="tp_masthead__title">Title</h1>
								</div>

								<div class="tp_masthead tp_masthead--work">
									<img class="tp_masthead__image" src="https://via.placeholder.com/1200" alt="">
									<div class="tp_masthead__title tp_heading-group tp_heading-group--logo">
										<img class="tp_heading-group__logo" src="../assets/images/logo.png"/>
										<h4 class="tp_heading-group__heading">A sophisticated SharePoint portal framework, with custom desktop and intuitive mobile friendly customer sites. </h4>
									</div>
								</div>

								<div class="tp_masthead tp_masthead--feature">
									<img class="tp_masthead__image" src="https://via.placeholder.com/1200" alt="">
									<div class="tp_masthead__title tp_heading-group tp_heading-group--feature">
										<h3 class="tp_heading-group__heading">Giant Heading</h3>
										<h4 class="tp_heading-group__subheading">Heading Text</h4>
									</div>
								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO STANDARD MASTHEAD -->

					</div>
					<!-- EO MASTHEADS -->

					<!-- NAVIGATION -->
					<i id="navigation"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Global Navigation</h3>

						<!-- HEADER -->
						<div class="cd_component">
							<h3 class="cd_component__title">Global Header</h3>
							<div class="cd_component__column">

								<div class="tp_header">
									<div class="tp_header__left">
										<a class="tp_logo-link">
											<img class="tp_logo" src="../assets/images/tahoe-partners-logo.png" alt="Tahoe Partners Logo">
										</a>
									</div>
									<div class="tp_header__right">
										<ul class="tp_nav-menu">
											<li class="tp_nav-menu__item">
												<a class="tp_nav-menu__link">Transform</a>
											</li>
											<li class="tp_nav-menu__item">
												<a class="tp_nav-menu__link">Solutions</a>
											</li>
											<li class="tp_nav-menu__item">
												<a class="tp_nav-menu__link">About</a>
											</li>
											<li class="tp_nav-menu__item">
												<a class="tp_nav-menu__link">Work</a>
											</li>
											<li class="tp_nav-menu__item">
												<a class="tp_nav-menu__link">Contact</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO HEADER -->

						<!-- FOOTER -->
						<div class="cd_component">
							<h3 class="cd_component__title">Global Footer</h3>
							<div class="cd_component__column cd_column--links">

								<div class="tp_footer">
									<div class="tp_footer__left">
										<a href="https://partner.microsoft.com/en-US/">
											<img class="tp_footer__ms-gold" src="../assets/images/ms-gold-partner.png" alt="">
										</a>
									</div>
									<div class="tp_footer__center">
										<a href="/">
											<img class="tp_footer__logo" src="../assets/images/tahoe-partners-logo-lockup.png" alt="">
										</a>
									</div>
									<div class="tp_footer__right">
										<div class="tp_footer__right-content">
											<ul class="tp_footer-nav">
												<li class="tp_footer-nav__item">
													<a class="tp_footer-nav__link" href="#">Careers</a>
												</li>
											</ul>
											<p class="tp_footer__copyright">&copy;2018 - Tahoe Partners LLC</p>
										</div>

									</div>

								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO FOOTER -->

						<!-- CONTACT BANNER -->
						<div class="cd_component">
							<h3 class="cd_component__title">Contact Banner</h3>
							<div class="cd_component__column cd_column--links">

								<div class="tp_footer">
									<div class="tp_footer__left">
										<a href="https://partner.microsoft.com/en-US/">
											<img class="tp_footer__ms-gold" src="../assets/images/ms-gold-partner.png" alt="">
										</a>
									</div>
									<div class="tp_footer__center">
										<a href="/">
											<img class="tp_footer__logo" src="../assets/images/tahoe-partners-logo-lockup.png" alt="">
										</a>
									</div>
									<div class="tp_footer__right">
										<div class="tp_footer__right-content">
											<ul class="tp_footer-nav">
												<li class="tp_footer-nav__item">
													<a class="tp_footer-nav__link" href="#">Careers</a>
												</li>
											</ul>
											<p class="tp_footer__copyright">&copy;2018 - Tahoe Partners LLC</p>
										</div>

									</div>

								</div>

							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO CONTACT BANNER -->
					</div>
					<!-- EO NAVIGATION -->

					<!-- BACKGROUNDS -->
					<i id="backgrounds"></i>
					<div class="cd_section--component-group">
						<h3 class="cd_component-group-title">Backgrounds</h3>

						<!-- SMALL PATTERN BACKGROUND -->
						<div class="cd_component">
							<h3 class="cd_component__title">BG Style</h3>
							<div class="cd_component__column">
								<div class="row">

									Backgrounds

								</div>
							</div>
							<div class="cd_component__markup-display">
								<pre><code class="language-markup"><script> --- </script></code></pre>
							</div>
							<div class="cd_component__style-display">
								<pre><code class="language-css">[Sass]</code></pre>
							</div>
						</div>
						<!-- EO SMALL PATTERN BACKGROUND -->

					</div>
					<!-- EO BACKGROUNDS -->

				</div>

				<div class="cd_template__component-menu">
					<div class="cd_component-menu__masthead">
						<img class="cd_component-menu__client-logo" src="../assets/images/client-logo.png" />
						<h4 class="cd_component-menu__client-name">
							Client Name
						</h4>
						<h5 class="cd_component-menu__library-name">
							Design Library
						</h5>
						<p class="cd_component-menu__library-description">
							The compoponent library and live style guide created for CLIENT NAME to utilize in the update and maintenance of <a href="http://google.com">client.com</a>.
						</p>
					</div>
					<div class="cd_component-menu__navigation">
						<h2 class="cd_component-menu__column-header">Patterns</h2>
						<ul class="cd_component-menu__nav-list">
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#structure">Structure</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#colors">Colors</a>
							</li>

							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#type">Typefaces &amp; Fonts</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#typography">Typography</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#icons">Iconography</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#links">Links &amp; Buttons</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#list">List</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#inputs">Inputs &amp; Forms</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#cards">Cards</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#modal">Modal</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#navigation">Navigation</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#mastheads">Mastheads</a>
							</li>
							<li class="cd_component-menu__nav-list-item">
								<a class="cd_component-menu__nav-list-link" href="#backgrounds">Backgrounds</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../assets/vendor/prism/prism.js" language="JavaScript" type="text/javascript"></script>

		<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/light.js" integrity="sha384-77i21WTcIcnSPKxwR794RLUQitpNqm6K3Fxsjx8hgoc3ZZbPJu5orgvU/7xS3EFq" crossorigin="anonymous"></script>
		<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/fontawesome.js" integrity="sha384-ckjcH5WkBMAwWPjTJiy7K2LaLp37yyCVKAs3DKjhPdo0lRCDIScolBzRsuaSu+bQ" crossorigin="anonymous"></script>

		<script src="scripts/scripts.js" type="text/javascript"></script>
	</body>
</html>
