@charset "UTF-8";

/*! Cordial v0.1.3 | GPL 3.0 License | https://github.com/lylerohr/cordial */

/************************************

	Cordial
	Main Scss file

	Cordial is a BEM Sass and Atomic based framework that models the canonical
	CSS Zen Garden minimalism and separation of scope.  The aim is to free
	your markup form framework-specific classes and allow for full structural
	and theme control via CSS.

	Cordial utilizes the Brad Frost's, Atomic Design Methodology
	(http://atomicdesign.bradfrost.com/) to organize absolutely anything.

************************************/

// Font Imports
//@import "../../bower_components/font-awesome/css/font-awesome.min.css";
@import "partials/_config/theme/fonts";

// Vendor libraries
@import "vendor/normalize-css/normalize.css";
@import "vendor/sassy-maps/sass/sassy-maps";

// Grid
// Bootstrap Sass Grid
@import "vendor/bootstrap-sass-grid/sass/bootstrap/variables"; // Bootstrap Sass Grid
@import "vendor/bootstrap-sass-grid/sass/bootstrap/mixins"; // Bootstrap Sass Grid
@import "vendor/bootstrap-sass-grid/sass/bootstrap/print"; // Bootstrap - Print
@import "vendor/bootstrap-sass-grid/sass/bootstrap/scaffolding"; // Bootstrap - Core
@import "vendor/bootstrap-sass-grid/sass/bootstrap/grid"; // Bootstrap - Core
@import "vendor/bootstrap-sass-grid/sass/bootstrap/utilities"; // Bootstrap - Utility classes
@import "vendor/bootstrap-sass-grid/sass/bootstrap/responsive-utilities"; // Bootstrap - Utility classes

// Bourbon Neat
//@import "../../bower_components/neat/core/neat";

// Cordial Sass Library
@import "partials/_libraries/libraries"; // must be first cordial @import
@import "partials/_config/theme/theme";

@import "partials/atoms/atoms";
@import "partials/molecules/molecules";
@import "partials/organisms/organisms";
@import "partials/pages/pages";
@import "partials/templates/templates";
