<div class="tp_masthead tp_masthead--default" {{ attributes }}>
  {% block content %}
    <div class="tp_masthead__image">{{ content.field_masthead_image }}</div>
    <h1 class="tp_masthead__title">{{ content.field_title__masthead }}</h1>
  {% endblock %}
</div>
