{% block content %}

    <div class="tp_blockquote">
        <div class="tp_surface">
            <div class="tp_surface__section">
                  <p class="tp_blockquote__quote">{{ content.field_blockquote__quote_text.0 }}</p>
                  <hr class="tp_rule" />
                  <br />
                  <p class="tp_blockquote__byline">&mdash; {{ content.field_blockquote__byline.0 }}</p>
            </div>
        </div>
    </div>

{% endblock %}
