<div class="tp_surface">
    <div class="tp_surface__section">
        <div {{ attributes }}>
            {% block content %}
                The Carousel will be here. {{ content }}
            {% endblock %}
        </div>
    </div>
</div>
