.tp_stage .#{$pre}header {
    height: 4rem;
    background-color: transparentize(color(white), 1);
    padding: 0 layout(spacing--md);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: z(sticky-nav);
    margin-bottom: -4rem;
    transition: transition(base);
    overflow: hidden;


    &.scrolled {
        background-color: transparentize(color(black), .1);
        height: 3rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: z(sticky-nav);
        width: 100%;
        transition: transition(base);

        .tp_logo {
            width: 80%;
            transition: transition(base);
        }

        .tp_nav-menu__item a {
            color: color(gray--extra-light);
            transition: transition(base);

            &:hover {
                border-bottom-color: color(gray--extra-light);
            }
        }
    }

    &__left {
        float: left;
        @include vertical-center;

        .tp_logo {
            width: 100%;
            transition: transition(base);
        }
    }

    &__right {
        @include vertical-center;
        right: layout(spacing--xl);
        margin-top: layout(spacing--2xs);
    }

    &.menu-active {
        position: fixed;
        background-color: transparent;
        transition: transition(slow);
        overflow: visible;

        .#{$pre}header__right {
            left: 0;
            top: 0;
            right: auto;
            transform: none;
            margin-top: 0;
            transition: transition(slow);
            width: 100vw;
            height: 100vh;
            background-color: transparentize(color(black), .1);
            transition: transition(slow);
        }

        .#{$pre}nav-menu {
            left: 0;
            top: 0;
            width: 100vw;
            padding-top: 4rem;
            opacity: 1;
            transition: 300ms ease-in-out;
            transition: opacity 300ms;
            transition-delay: opacity 300ms;

            &__item {
                display: block;
                width: 100%;
                text-align: center;
            }

            &__item a {
                font-size: 2rem;
                color: white;
            }

            &__bars {
                display: none;
            }

            &__close {
                display: block;
            }
        }
    }
}
