.tp_stage .#{$pre}header {
    height: 4rem;
    background-color: transparentize(color(white), 1);
    padding: 0 layout(spacing--md);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: z(sticky-nav);
    margin-bottom: -4rem;
    transition: transition(base);

    &.scrolled {
        background-color: transparentize(color(black), .1);
        height: 3rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: z(sticky-nav);
        width: 100%;
        transition: transition(base);

        .tp_logo {
            width: 80%;
            transition: transition(base);
        }

        .tp_nav-menu__item a {
            color: color(gray--extra-light);
            transition: transition(base);

            &:hover {
                border-bottom-color: color(gray--extra-light);
            }
        }
    }

    &__left {
        float: left;
        @include vertical-center;

        .tp_logo {
            width: 100%;
            transition: transition(base);
        }
    }

    &__right {
        @include vertical-center;
        right: layout(spacing--xl);
        margin-top: layout(spacing--2xs);
    }
}
