.tp_offset-cta {

    &__row {
        @include make-row;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    &__content {
        background-color: color(seafoam--bright);
        padding-top: layout(layout--lg);
        padding-bottom: layout(layout--lg);

        @include respond-to(tablet) {
            @include vertical-center;
            padding-left: layout(spacing--2xl);
            padding-right: layout(spacing--2xl);
        }
    }

    &__heading {
        font-size: rem(font-size(fs--1));
        text-transform: uppercase;

        @include respond-to(mobile) {
            font-size: rem(font-size(fs--0));
        }

        @include respond-to(tablet) {
            font-size: rem(font-size(fs--3));
        }

        @include respond-to(desktop) {
            font-size: rem(font-size(fs--1));
        }

        @include respond-to(desktop-large) {
            font-size: rem(font-size(fs--0));
        }
    }

    &__body {
        @include responsive-type(fs--11, text);
        margin-bottom: layout(spacing--lg);
    }

    &__button {
        @extend %button--ghost;
    }

    &__image-container {
        margin-top: layout(layout--md) * -1;
        position: relative;
        overflow: hidden;

        @include respond-to(tablet) {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
            float: right;
        }
    }

    &__image img {
        width: 100%;
        height: auto;

        @include respond-to(tablet) {
            width: auto;
        }
    }
}
