.tp_solutions-block {
    margin-top: layout(layout--xl) * -1;
    background-image: url(/themes/tahoe/images/tahoe-partners--solutions-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: layout(layout--md);

    &__subheading {
        color: color(gray--extra-light);
        text-align: center;
        text-transform: uppercase;
        @include responsive-type(fs--5, display);
        position: relative;
        top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: layout(spacing--lg);

        @include respond-to(desktop) {
            margin-bottom: layout(spacing--sm);
        }
    }

    &__heading {
        color: color(seafoam--light);
        text-align: center;
        text-transform: uppercase;
        font-size: rem(font-size(fs--2));
        line-height: 1;
        padding-left: 1rem;
        padding-right: 1rem;

        @include respond-to(desktop) {
            font-size: rem(font-size(fs--0));
        }
    }
}
