ul,
.#{$pre}list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--inline {
        @include clearfix;

        li {
            display: inline-block;
            float: left;
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &--bulleted {
        list-style: disc;
        padding-left: 2rem;
    }

    &--blockquote {
        padding: 0;
        counter-reset: big-counter;
        list-style: none;
        margin: 0 0 0 0;

        .#{$pre}list__item {
            counter-increment: big-counter;
            position: relative;
            @include responsive-type(fs--7, display);
            color: color(gray--extra-light);
            font-family: font-family(display);
            font-weight: 700;
            display: block;
            text-indent: -4rem;
            margin-left: 4rem;

            &::before {
                content: counter(big-counter) ". ";
                color: color(seafoam--bright);
                font-family: font-family(display);
                @include responsive-type(fs--3, display);
                font-weight: bold;
            }
        }
    }
}

ol,
.#{$pre}list--numbered {
    padding: 0;
    margin: 0;
    list-style: decimal;
    margin: 0 0 0 2rem;
}


.#{$pre}list--alpha {
    padding: 0;
    margin: 0;
    list-style: upper-alpha;
    margin: 0 0 0 2rem;
}
