ul,
.#{$pre}list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--inline {
        @include clearfix;

        li {
            display: inline-block;
            float: left;
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &--bulleted {
        list-style: disc;
        padding-left: 2rem;
    }

    &--blockquote {

        .#{$pre}list__list-item {

        }

        .#{$pre}list__big-bullet {
            display: inline-block;
            width: 4rem;
            text-align: right;
            @include responsive-type(fs--1, display);
            @extend .tp_color--text-seafoam--bright;
        }

        .#{$pre}list__copy {
            //@extend .tp_color--text-white;
            display: inline-block;
            margin-left: layout(spacing--sm);
            @include responsive-type(fs--7, display);
            @extend .tp_color--text-seafoam--black;
            font-family: font-family(display);
            font-weight: 700;
        }
    }
}

ol,
.#{$pre}list--numbered {
    padding: 0;
    margin: 0;
    list-style: decimal;
    margin: 0 0 0 2rem;
}


.#{$pre}list--alpha {
    padding: 0;
    margin: 0;
    list-style: upper-alpha;
    margin: 0 0 0 2rem;
}
