.#{$pre}nav-menu {
    @extend .tp_list--inline;
    position: absolute;
    top: -100vw;
    height: 100vh;
    opacity: 0;
    transition: 0;

    @include respond-to(desktop) {
        position: static;
        display: block;
        height: auto;
        opacity: 1;
    }

    &__item {
        margin-left: layout(spacing--xs);
        transition: transition(base);

        & a {
            @extend %link--nav;
            transition: transition(base);
        }
    }

    &__link {
        @extend %link--nav;
    }

    &__bars {
        display: block;
        position: relative;
        right: -5px;
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;

        @include respond-to(desktop) {
            display: none;
        }
    }

    &__bar {
        width: 1.25rem;
        height: 2px;
        border: 0;
        background-color: color(seafoam--black);
        display: block;
        margin-bottom: 4px;

        .scrolled & {
            background-color: color(gray--extra-light);
        }
    }

    &__close {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        display: none;
        color: color(seafoam--bright);
        z-index: 1000;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
    }

    &__close-bar {

        &--1 {
            width: 1.25rem;
            height: 1px;
            border: 0;
            background-color: color(seafoam--bright);
            display: block;
            transform: rotate(45deg);
            position: relative;
            top: 11px;
        }

        &--2 {
            width: 1.25rem;
            height: 1px;
            border: 0;
            background-color: color(seafoam--bright);
            display: block;
            transform: rotate(-45deg);
            position: relative;
            top: 10px;
        }

    }
}
