ul,
.#{$pre}list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--inline {
        @include clearfix;

        li {
            display: inline-block;
            float: left;
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &--bulleted {
        list-style: disc;
        padding-left: 2rem;
    }
}

ol,
.#{$pre}list--numbered {
    padding: 0;
    margin: 0;
    list-style: decimal;
    margin: 0 0 0 2rem;
}


.#{$pre}list--alpha {
    padding: 0;
    margin: 0;
    list-style: upper-alpha;
    margin: 0 0 0 2rem;
}
