.tp-media,
.tp-media__body {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.tp-media {
    margin: 0 0 margin(large) 0;

    &--interest {
        float: left;
        margin-right: layout(spacing--lg);
        max-width: 50%;
    }

    &--interest-content {
        display: block;
        max-width: 100%;
    }

    &--body {

        .tp-media__title {

        }

        .tp-media__copy {

        }

        .tp-media__cta {
            margin-right: layout(spacing--lg);
            margin-bottom: layout(spacing--lg);
        }

        .tp-media__secondary-cta {
            clear: both;
            display: block;

            &--inline {
                clear: none;
                display: inline-block;
            }
        }

    }

    &--nested {
        clear: both;
        padding-top: padding(large);
        padding-left: padding(extra-large);
        margin-bottom: margin(base);
    }

    &--work {
        position: relative;
        margin-bottom: layout(layout--md);
        padding-bottom: .5rem;

        .tp-media--interest {
            position: relative;
            min-height: 450px;
            max-height: 450px;
            width: 58.3333%;
            max-width: 58.3333%;
            overflow: hidden;
            box-shadow: shadow(inactive, drop--inactive) color(drop--inactive);
            background-color: color(seafoam--light);
            transition: transition(slow);

            img {
                transition: transition(slow);
                min-height: 115%;
                min-width: 115%;
                @include hv-center;
                z-index: 2;
                filter: brightness(125%);
            }
        }


        .tp-media--interest-filter {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: color(seafoam--bright);

            opacity: .1;
            z-index: 3;
            transition: transition(slow);
        }

        .tp-media--body {
            position: relative;
            padding-top: layout(layout--lg);
            transition: transition(slow);
        }

        .tp-media--view-link {
            position: relative;
            top: layout(spacing--2xl);
            z-index: -1;
            opacity: 0;
            margin-left: -3.5rem;
            transition: 150ms ease-out;

            a {
                @extend %button--ghost-round;
            }
        }

        .tp-media--client-logo {
            margin-bottom: layout(spacing--xl);

            img {
                max-height: 3.5rem;
                width: inherit !important;
            }
        }

        .tp-media--rule {
            @extend %rule--heading-rule;
            margin-bottom: layout(spacing--md);
        }



    }

    &--rtl {
        margin-bottom: layout(layout--md) * -1;

        .tp-media--interest {
            float: right;
            margin-right: 0;
            margin-left: layout(spacing--lg);
        }

        .tp-media--body {
            padding-right: layout(spacing--md);
            padding-top: layout(layout--xs);
            text-align: right;
        }

        .tp-media--view-link {
            float: right;
            margin-right: -3.5rem;
            transition: 150ms ease-out;
        }

        .tp-media--client-logo {
            padding-top: layout(spacing--lg);
            display: inline-block;
            @include clearfix;
        }

        .tp-media--rule {
            display: inline-block;
        }

        .tp-media--teaser-text {
            text-align: right;
        }
    }
}
