$col6: 50%;
$col7: 58.2222%;
$col8: 66.3333%;
$col10: 82.4444%;
$col11: 90.6666%;

.tp_offset {
    @extend .container-fluid;

    &__section {
    	@include make-row;
    	position: relative;

    }

    &__surface {
        @extend .container;

        &-section {
            @include make-row;
            position: relative;
        }
    }

    &:first-child {
        padding-top: layout(layout--md);
        margin-top: 0;
    }

    &:last-child{
        padding-bottom: layout(layout--md);
    }

    .tp_offset__surface-section {
        padding: layout(layout--xs) 0;
    }

    .tp_offset__surface-section:first-of-type {
        padding-top: layout(layout--md);
    }

    .tp_offset__surface-section:last-of-type {
        padding-bottom: layout(layout--md);
    }

    &--vertical--lg {
        @include respond-to(desktop) {
            margin-top: layout(layout--lg) *-1;
        }
    }

    &--vertical--xl {
        @include respond-to(desktop) {
            margin-top: layout(layout--xl) *-1;
        }
    }

}

// SEAFOAM LIGHT
.tp_offset--6--seafoam-bright {
    background-image: url(https://images.unsplash.com/photo-1545095572-9bfd2666d3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(seafoam--bright);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(seafoam--bright) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(seafoam--bright) $col6, transparent 0%);
            }
        }
    }
}

.tp_offset--7--seafoam-bright {
    background-image: url(https://images.unsplash.com/photo-1545095572-9bfd2666d3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(seafoam--bright);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(seafoam--bright) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(seafoam--bright) $col7, transparent 0%);
            }
        }
    }
}

.tp_offset--8--seafoam-bright {

    background-image: url(https://images.unsplash.com/photo-1545095572-9bfd2666d3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(seafoam--bright);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(seafoam--bright) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(seafoam--bright) $col8, transparent 0%);
            }
        }
    }
}

.tp_offset--10--digital-transformation {
    padding-bottom: 0 !important;
    background-image: url(/themes/tahoe/images/tahoe-partners--digital-transformation-bg.png);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(mauve);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(mauve) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(mauve) $col10, transparent 0%);
            }
        }
    }
}

.tp_offset--10--seafoam-bright {
    background-image: url(https://images.unsplash.com/photo-1545095572-9bfd2666d3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(seafoam--bright);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(seafoam--bright) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(seafoam--bright) $col10, transparent 0%);
            }
        }
    }
}

.tp_offset--11--seafoam-bright {
    background-image: url(https://images.unsplash.com/photo-1545095572-9bfd2666d3e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(seafoam--bright);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(90deg, color(seafoam--bright) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(90deg, color(seafoam--bright) $col11, transparent 0%);
            }
        }
    }
}



// DARK BLUE

.tp_offset--6--blue-dark--reverse {

    background-image: url(https://images.unsplash.com/photo-1480114440414-43a37cc4472f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
    background-size: cover;
    background-position: bottom center;

    .tp_offset__section {
        background-color: color(blue--dark);

        @include respond-to(desktop) {
            background-color: color(clear);
            background-image: linear-gradient(-90deg, color(blue--dark) 35%, transparent 0%);

            .tp_offset__surface {
                background-image: linear-gradient(-90deg, color(blue--dark) $col6, transparent 0%);
            }
        }
    }

}
