.tp-case-studies {

    .tp-media--work {
        transition: transition(slow);
        margin-bottom: layout(layout--md);


        &:hover {
            .tp-media--interest {
                transition: transition(slow);
                box-shadow: shadow(active, drop--active) color(drop--active);
            }

            .tp-media--interest-filter {
                transition: transition(slow);
                opacity: 0;
            }

            .tp-media--interest img {
                filter: brightness(110%);
            }
        }
    }

    .tp-media--work:nth-child(odd) {
        z-index: 1;



        @include respond-to(desktop) {
            margin-bottom: layout(layout--md) * -1;

            .tp-media--interest {
                float: right;
                margin-right: 0;
                margin-left: layout(spacing--lg);
            }

            .tp-media--body {
                padding-right: layout(spacing--md);
                padding-top: layout(layout--xs);
                text-align: right;
            }

            .tp-media--view-link {
                float: right;
                margin-right: -3.5rem;
                transition: 150ms ease-out;
            }

            .tp-media--client-logo {
                padding-top: layout(spacing--lg);
                display: inline-block;
                @include clearfix;
            }

            .tp-media--rule {
                display: inline-block;
            }

            .tp-media--teaser-text {
                text-align: right;
            }

            .tp-media--body {
                position: relative;
                transition: transition(slow);
                right: 0;
            }

            .tp-media--teaser-text {
                padding-left: 4rem;
            }

            &:hover {
                .tp-media--body {
                    position: relative;
                    right: 4rem;
                    transition: transition(slow);
                }

                .tp-media--view-link {
                    display: inline-block;
                    opacity: 1;
                    transition: 350ms ease-in;
                    z-index: 1;
                }
            }

        }
    }

    .tp-media--work:nth-child(even) {
        z-index: 2;



        @include respond-to(desktop) {
            .tp-media--body {
                left: 0;
                position: relative;
                transition: transition(slow);
            }

            .tp-media--teaser-text {
                padding-right: 4rem;
            }

            &:hover {
                .tp-media--body {
                    position: relative;
                    left: 4rem;
                    transition: transition(slow);
                }

                .tp-media--view-link {
                    display: inline-block;
                    opacity: 1;
                    transition: 350ms ease-in;
                    z-index: 1;
                }
            }
        }
    }
}
